AISGAgent/xml-resources/web-service-references/PremiumCustomerWebService/wsdl/localhost_8080/PremiumCustomerWebService/PremiumCustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.ws/" name="PremiumCustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.ws/" schemaLocation="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllActiveAuctions">
<part name="parameters" element="tns:retrieveAllActiveAuctions"/>
</message>
<message name="retrieveAllActiveAuctionsResponse">
<part name="parameters" element="tns:retrieveAllActiveAuctionsResponse"/>
</message>
<message name="retrieveAllSuccessfulAuctionByCustomerId">
<part name="parameters" element="tns:retrieveAllSuccessfulAuctionByCustomerId"/>
</message>
<message name="retrieveAllSuccessfulAuctionByCustomerIdResponse">
<part name="parameters" element="tns:retrieveAllSuccessfulAuctionByCustomerIdResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="retrieveSuccessfulAuctionbyId">
<part name="parameters" element="tns:retrieveSuccessfulAuctionbyId"/>
</message>
<message name="retrieveSuccessfulAuctionbyIdResponse">
<part name="parameters" element="tns:retrieveSuccessfulAuctionbyIdResponse"/>
</message>
<message name="SuccessfulAuctionNotFoundException">
<part name="fault" element="tns:SuccessfulAuctionNotFoundException"/>
</message>
<message name="retrieveAllSuccessfulAuctions">
<part name="parameters" element="tns:retrieveAllSuccessfulAuctions"/>
</message>
<message name="retrieveAllSuccessfulAuctionsResponse">
<part name="parameters" element="tns:retrieveAllSuccessfulAuctionsResponse"/>
</message>
<message name="retrieveCustomerbyUsername">
<part name="parameters" element="tns:retrieveCustomerbyUsername"/>
</message>
<message name="retrieveCustomerbyUsernameResponse">
<part name="parameters" element="tns:retrieveCustomerbyUsernameResponse"/>
</message>
<message name="placeABid">
<part name="parameters" element="tns:placeABid"/>
</message>
<message name="placeABidResponse">
<part name="parameters" element="tns:placeABidResponse"/>
</message>
<message name="AuctionNotFoundException">
<part name="fault" element="tns:AuctionNotFoundException"/>
</message>
<message name="NotEnoughCreditException">
<part name="fault" element="tns:NotEnoughCreditException"/>
</message>
<message name="InvalidBidException">
<part name="fault" element="tns:InvalidBidException"/>
</message>
<message name="BidNotFoundException">
<part name="fault" element="tns:BidNotFoundException"/>
</message>
<message name="customerLogin">
<part name="parameters" element="tns:customerLogin"/>
</message>
<message name="customerLoginResponse">
<part name="parameters" element="tns:customerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="UpdateCustomerException">
<part name="fault" element="tns:UpdateCustomerException"/>
</message>
<message name="customerLogout">
<part name="parameters" element="tns:customerLogout"/>
</message>
<message name="customerLogoutResponse">
<part name="parameters" element="tns:customerLogoutResponse"/>
</message>
<message name="detachCustomer">
<part name="parameters" element="tns:detachCustomer"/>
</message>
<message name="detachCustomerResponse">
<part name="parameters" element="tns:detachCustomerResponse"/>
</message>
<message name="detachAuction">
<part name="parameters" element="tns:detachAuction"/>
</message>
<message name="detachAuctionResponse">
<part name="parameters" element="tns:detachAuctionResponse"/>
</message>
<message name="detachSuccessfulAuction">
<part name="parameters" element="tns:detachSuccessfulAuction"/>
</message>
<message name="detachSuccessfulAuctionResponse">
<part name="parameters" element="tns:detachSuccessfulAuctionResponse"/>
</message>
<message name="updatePremiumCustomer">
<part name="parameters" element="tns:updatePremiumCustomer"/>
</message>
<message name="updatePremiumCustomerResponse">
<part name="parameters" element="tns:updatePremiumCustomerResponse"/>
</message>
<message name="proxyBidding">
<part name="parameters" element="tns:proxyBidding"/>
</message>
<message name="proxyBiddingResponse">
<part name="parameters" element="tns:proxyBiddingResponse"/>
</message>
<message name="retrieveAuctionbyId">
<part name="parameters" element="tns:retrieveAuctionbyId"/>
</message>
<message name="retrieveAuctionbyIdResponse">
<part name="parameters" element="tns:retrieveAuctionbyIdResponse"/>
</message>
<message name="getHighestBid">
<part name="parameters" element="tns:getHighestBid"/>
</message>
<message name="getHighestBidResponse">
<part name="parameters" element="tns:getHighestBidResponse"/>
</message>
<message name="retrieveCustomerbyId">
<part name="parameters" element="tns:retrieveCustomerbyId"/>
</message>
<message name="retrieveCustomerbyIdResponse">
<part name="parameters" element="tns:retrieveCustomerbyIdResponse"/>
</message>
<message name="retrieveAllAuctions">
<part name="parameters" element="tns:retrieveAllAuctions"/>
</message>
<message name="retrieveAllAuctionsResponse">
<part name="parameters" element="tns:retrieveAllAuctionsResponse"/>
</message>
<message name="bidConverter">
<part name="parameters" element="tns:bidConverter"/>
</message>
<message name="bidConverterResponse">
<part name="parameters" element="tns:bidConverterResponse"/>
</message>
<message name="sniping">
<part name="parameters" element="tns:sniping"/>
</message>
<message name="snipingResponse">
<part name="parameters" element="tns:snipingResponse"/>
</message>
<portType name="PremiumCustomerWebService">
<operation name="retrieveAllActiveAuctions">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllActiveAuctionsRequest" message="tns:retrieveAllActiveAuctions"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllActiveAuctionsResponse" message="tns:retrieveAllActiveAuctionsResponse"/>
</operation>
<operation name="retrieveAllSuccessfulAuctionByCustomerId">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllSuccessfulAuctionByCustomerIdRequest" message="tns:retrieveAllSuccessfulAuctionByCustomerId"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllSuccessfulAuctionByCustomerIdResponse" message="tns:retrieveAllSuccessfulAuctionByCustomerIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllSuccessfulAuctionByCustomerId/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveSuccessfulAuctionbyId">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveSuccessfulAuctionbyIdRequest" message="tns:retrieveSuccessfulAuctionbyId"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveSuccessfulAuctionbyIdResponse" message="tns:retrieveSuccessfulAuctionbyIdResponse"/>
<fault message="tns:SuccessfulAuctionNotFoundException" name="SuccessfulAuctionNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveSuccessfulAuctionbyId/Fault/SuccessfulAuctionNotFoundException"/>
</operation>
<operation name="retrieveAllSuccessfulAuctions">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllSuccessfulAuctionsRequest" message="tns:retrieveAllSuccessfulAuctions"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllSuccessfulAuctionsResponse" message="tns:retrieveAllSuccessfulAuctionsResponse"/>
</operation>
<operation name="retrieveCustomerbyUsername">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyUsernameRequest" message="tns:retrieveCustomerbyUsername"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyUsernameResponse" message="tns:retrieveCustomerbyUsernameResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyUsername/Fault/CustomerNotFoundException"/>
</operation>
<operation name="placeABid">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABidRequest" message="tns:placeABid"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABidResponse" message="tns:placeABidResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABid/Fault/CustomerNotFoundException"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABid/Fault/AuctionNotFoundException"/>
<fault message="tns:NotEnoughCreditException" name="NotEnoughCreditException" wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABid/Fault/NotEnoughCreditException"/>
<fault message="tns:InvalidBidException" name="InvalidBidException" wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABid/Fault/InvalidBidException"/>
<fault message="tns:BidNotFoundException" name="BidNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/placeABid/Fault/BidNotFoundException"/>
</operation>
<operation name="customerLogin">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLoginRequest" message="tns:customerLogin"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLoginResponse" message="tns:customerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogin/Fault/InvalidLoginCredentialException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogin/Fault/CustomerNotFoundException"/>
<fault message="tns:UpdateCustomerException" name="UpdateCustomerException" wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogin/Fault/UpdateCustomerException"/>
</operation>
<operation name="customerLogout">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogoutRequest" message="tns:customerLogout"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogoutResponse" message="tns:customerLogoutResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/customerLogout/Fault/CustomerNotFoundException"/>
</operation>
<operation name="detachCustomer">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/detachCustomerRequest" message="tns:detachCustomer"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/detachCustomerResponse" message="tns:detachCustomerResponse"/>
</operation>
<operation name="detachAuction">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/detachAuctionRequest" message="tns:detachAuction"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/detachAuctionResponse" message="tns:detachAuctionResponse"/>
</operation>
<operation name="detachSuccessfulAuction">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/detachSuccessfulAuctionRequest" message="tns:detachSuccessfulAuction"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/detachSuccessfulAuctionResponse" message="tns:detachSuccessfulAuctionResponse"/>
</operation>
<operation name="updatePremiumCustomer">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/updatePremiumCustomerRequest" message="tns:updatePremiumCustomer"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/updatePremiumCustomerResponse" message="tns:updatePremiumCustomerResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/updatePremiumCustomer/Fault/CustomerNotFoundException"/>
<fault message="tns:UpdateCustomerException" name="UpdateCustomerException" wsam:Action="http://soap.ws/PremiumCustomerWebService/updatePremiumCustomer/Fault/UpdateCustomerException"/>
</operation>
<operation name="proxyBidding">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/proxyBiddingRequest" message="tns:proxyBidding"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/proxyBiddingResponse" message="tns:proxyBiddingResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/proxyBidding/Fault/AuctionNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/proxyBidding/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveAuctionbyId">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAuctionbyIdRequest" message="tns:retrieveAuctionbyId"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAuctionbyIdResponse" message="tns:retrieveAuctionbyIdResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAuctionbyId/Fault/AuctionNotFoundException"/>
</operation>
<operation name="getHighestBid">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/getHighestBidRequest" message="tns:getHighestBid"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/getHighestBidResponse" message="tns:getHighestBidResponse"/>
</operation>
<operation name="retrieveCustomerbyId">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyIdRequest" message="tns:retrieveCustomerbyId"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyIdResponse" message="tns:retrieveCustomerbyIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveCustomerbyId/Fault/CustomerNotFoundException"/>
</operation>
<operation name="retrieveAllAuctions">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllAuctionsRequest" message="tns:retrieveAllAuctions"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/retrieveAllAuctionsResponse" message="tns:retrieveAllAuctionsResponse"/>
</operation>
<operation name="bidConverter">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/bidConverterRequest" message="tns:bidConverter"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/bidConverterResponse" message="tns:bidConverterResponse"/>
</operation>
<operation name="sniping">
<input wsam:Action="http://soap.ws/PremiumCustomerWebService/snipingRequest" message="tns:sniping"/>
<output wsam:Action="http://soap.ws/PremiumCustomerWebService/snipingResponse" message="tns:snipingResponse"/>
<fault message="tns:AuctionNotFoundException" name="AuctionNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/sniping/Fault/AuctionNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://soap.ws/PremiumCustomerWebService/sniping/Fault/CustomerNotFoundException"/>
</operation>
</portType>
<binding name="PremiumCustomerWebServicePortBinding" type="tns:PremiumCustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllActiveAuctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllSuccessfulAuctionByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveSuccessfulAuctionbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SuccessfulAuctionNotFoundException">
<soap:fault name="SuccessfulAuctionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllSuccessfulAuctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerbyUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="placeABid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
<fault name="NotEnoughCreditException">
<soap:fault name="NotEnoughCreditException" use="literal"/>
</fault>
<fault name="InvalidBidException">
<soap:fault name="InvalidBidException" use="literal"/>
</fault>
<fault name="BidNotFoundException">
<soap:fault name="BidNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="customerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="UpdateCustomerException">
<soap:fault name="UpdateCustomerException" use="literal"/>
</fault>
</operation>
<operation name="customerLogout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="detachCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detachAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="detachSuccessfulAuction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePremiumCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="UpdateCustomerException">
<soap:fault name="UpdateCustomerException" use="literal"/>
</fault>
</operation>
<operation name="proxyBidding">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAuctionbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getHighestBid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCustomerbyId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllAuctions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bidConverter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sniping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AuctionNotFoundException">
<soap:fault name="AuctionNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PremiumCustomerWebService">
<port name="PremiumCustomerWebServicePort" binding="tns:PremiumCustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/PremiumCustomerWebService/PremiumCustomerWebService"/>
</port>
</service>
</definitions>