DemoApplicationJpaJavaSeClient/xml-resources/web-service-references/RecordWebService/wsdl/localhost_8080/RecordWebService/RecordWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://soap.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.ws/">

<xs:element name="retrieveAllRecords" type="tns:retrieveAllRecords"/>

<xs:element name="retrieveAllRecordsResponse" type="tns:retrieveAllRecordsResponse"/>

<xs:complexType name="retrieveAllRecords">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllRecordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:record" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="record">
<xs:sequence>
<xs:element name="currRecordVersion" type="tns:recordVersion" minOccurs="0"/>
<xs:element name="recordId" type="xs:long" minOccurs="0"/>
<xs:element name="recordName" type="xs:string" minOccurs="0"/>
<xs:element name="recordVersions" type="tns:recordVersion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordVersion">
<xs:sequence>
<xs:element name="record" type="tns:record" minOccurs="0"/>
<xs:element name="recordVersionDescription" type="xs:string" minOccurs="0"/>
<xs:element name="recordVersionId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>